<ul class="tabs">
	<li <?php if ($session->read('ActivePage') == 'addQuip') echo "class='active'" ?>><?php echo $html->link($html->tag('span', 'Add Quips'), '/quips/add/', array('escape'=>false, 'title'=>"Add Quip")); ?></li>
	<li <?php if ($session->read('ActivePage') == 'allQuips') echo "class='active'" ?>><?php echo $html->link($html->tag('span', 'All Quips'), '/quips/index/', array('escape'=>false, 'title'=>"All Quips")); ?></li>
	
</ul>


