<ul class="tabs">
	<li class="active"><?php echo $html->link($html->tag('span', 'Account Info'), array('controller' => 'member', 'action' => 'edit', $form->value('CcTransaction.member_id')), array('escape'=>false, 'title'=>"Item1")); ?></li>
	
</ul>


<?php if ($session->check('Member.id')) :?>
<ul class="tabs">
	<li class="active"><?php echo $html->link($html->tag('span', 'Account Info'), array('action' => 'edit', $session->read('Member.id')), array('escape'=>false, 'title'=>"Item1")); ?></li>
	<li><?php echo $html->link($html->tag('span', 'Billing'), array('action' => 'editbilling', $session->read('Member.id')), array('escape'=>false, 'title'=>"Item2")); ?></li>
	<li><?php echo $html->link($html->tag('span', 'Invoices'), '/cc_transactions/index/' . $session->read('Member.id'), array('escape'=>false, 'title'=>"Item3")); ?></li>
	<li><?php echo $html->link($html->tag('span', 'Usage'), '/members/usage/' . $session->read('Member.id'), array('escape'=>false, 'title'=>"Item3")); ?></li>
</ul>
<?php endif; ?> 


