<ul class="tabs">
	<li <?php if ($this->Session->read('ActivePage') == 'allAffPayments') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Affiliate Payments'), '/affiliate_payments/index/', array('escape'=>false, 'title'=>"All Affiliates")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'addAffiliate') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Add Affiliate'), '/affiliates/add/', array('escape'=>false, 'title'=>"Add Affiliate")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'activeAffiliate') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Active Affiliates'), '/affiliates/active/', array('escape'=>false, 'title'=>"All Affiliates")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'allAffiliate') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'All Affiliates'), '/affiliates/index/', array('escape'=>false, 'title'=>"All Affiliates")); ?></li>
	
</ul>


