<ul class="tabs">
	<li <?php if ($this->Session->read('ActivePage') == 'addLanding') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Add'), array('action' => 'add'), array('escape'=>false, 'title'=>"Item2")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'allLanding') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'All'), array('action' => 'index'), array('escape'=>false, 'title'=>"Item2")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'activeLanding') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Active'), array('action' => 'active'), array('escape'=>false, 'title'=>"Item2")); ?></li>
	
</ul>


