<ul class="tabs">
	<li <?php if ($this->Session->read('ActivePage') == 'addOption') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'Add Options'), '/ngd_options/add/', array('escape'=>false, 'title'=>"Add Option")); ?></li>
	<li <?php if ($this->Session->read('ActivePage') == 'allOptions') echo "class='active'" ?>><?php echo $this->Html->link($this->Html->tag('span', 'All Options'), '/ngd_options/index/', array('escape'=>false, 'title'=>"All Options")); ?></li>
	
</ul>


