<ul class="tabs">
	<li class="active"><?php echo $this->Html->link($this->Html->tag('span', 'Account Info'), array('controller' => 'member', 'action' => 'edit', $this->Form->value('CcTransaction.member_id')), array('escape'=>false, 'title'=>"Item1")); ?></li>
	
</ul>


<?php if ($this->Session->check('Member.id')) :?>
<ul class="tabs">
	<li class="active"><?php echo $this->Html->link($this->Html->tag('span', 'Account Info'), array('action' => 'edit', $this->Session->read('Member.id')), array('escape'=>false, 'title'=>"Item1")); ?></li>
	<li><?php echo $this->Html->link($this->Html->tag('span', 'Billing'), array('action' => 'editbilling', $this->Session->read('Member.id')), array('escape'=>false, 'title'=>"Item2")); ?></li>
	<li><?php echo $this->Html->link($this->Html->tag('span', 'Invoices'), '/cc_transactions/index/' . $this->Session->read('Member.id'), array('escape'=>false, 'title'=>"Item3")); ?></li>
	<li><?php echo $this->Html->link($this->Html->tag('span', 'Usage'), '/members/usage/' . $this->Session->read('Member.id'), array('escape'=>false, 'title'=>"Item3")); ?></li>
</ul>
<?php endif; ?> 


