<h2>Create Invites</h2>

<?php //echo $this->element('members_menu');?>

<?php echo $this->Form->create('FreeAccountAuth', array('action' => 'bulk_create'));?>
<fieldset>
		<?php echo $this->Form->input('records',array('type'=>'text','class'=>'medium','label'=>'Number of Invites', 'empty' => true));?><br class="hid" />
	<?php echo $this->Form->input('plan_id',array('type'=>'text','class'=>'medium','label'=>'Invite Plan Id'));?><br class="hid" />
	<?php echo $this->Form->input('free_months',array('type'=>'text','class'=>'medium','label'=>'Number of Free Months'));?><br class="hid" />
	<p></p>
	<?php echo $this->Form->end(array('label'=>'Create','class'=>'button submit'));?>
	<span class="clear"></span>
</fieldset>