<div class="notes index">
	<h2>Note</h2>

	<?php echo $this->element('members_menu');?>

	<div class="box">
		<p>
			
		</p>
		<table cellpadding="0" cellspacing="0">
			
			<tr class="highlight"><td colspan="3"><?php echo $html->link('Edit Note', 'edit/'. $note['Note']['id']);?></td></tr>
			<tr class="highlight">
				<td>Member:</td>	
				<td><?php echo $html->link($note['Member']['name'], array('controller' => 'members', 'action' => 'view', $note['Note']['member_id']));?></td>			
				<td></td>
			</tr>
			<tr class="highlight">
				<td>Option Name:</td>	
				<td><?php echo $note['Note']['subject']; ?></td>			
				<td></td>
			</tr>
			<tr class="highlight">
				<td>Key Name:</td>	
				<td><?php echo $note['Note']['notes']; ?></td>			
				<td></td>
			</tr>
			<tr class="highlight">
				<td>Sub Key:</td>	
				<td><?php echo $note['Note']['date_added']; ?></td>			
				<td></td>
			</tr>
				
		
		</table>
		
		<p id="pagin">
			&nbsp;
		</p>
		
		<span class="clear">&nbsp;</span>
	</div>
</div>
	