<p id="congrats" class="alert">
			<span class="txt"><span class="icon"></span><strong>Login Success:</strong> Last login was November 10, 2008 at 04:00:00</span>
			<a title="Close" class="close"><span class="bg"></span>Close</a>
		</p>
		<p id="tip" class="alert">
			<span class="txt"><span class="icon"></span><strong>Tip:</strong> Choose an option from the menu to get started.</span>
			<a title="Close" class="close"><span class="bg"></span>Close</a>
		</p>