<h2>Create Account HW</h2>

<?php echo $this->element('members_menu');?>

<?=$form->create('Member', array('action' => 'create_hw_account'));?>
<fieldset>
	
	<?=$form->input('id',array('type'=>'hidden','class'=>'small','label'=>'Email Address'));?><br class="hid" />
	<?=$form->input('login_password',array('type'=>'text','class'=>'small','label'=>'Password'));?><br class="hid" />
	
	<p></p>
	<?=$form->end(array('label'=>'Create HW Account','class'=>'button submit'));?>
	<span class="clear"></span>
</fieldset>