
<h2>Customer Info</h2>

<?php echo $this->element('members_menu');?>

<div class="box">
	<p>&nbsp;</p>

	<table>
		<tr>
			<th class="col1">Date</th>
			<th class="col2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount</th>
			<th class="col3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status</th>
			<th class="col4">&nbsp;&nbsp;&nbsp;&nbsp;Type</th>
			<th class="col4">&nbsp;&nbsp;&nbsp;&nbsp;Reason</th>
			<th class="col5">&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
		</tr>
		<?php foreach ($invoices as $invoice): ?>
		<tr class="highlight">
			<td><?php echo date("m/d/Y H:i:s",strtotime($invoice['CcTransaction']['trans_date'])); ?></td>
			<td><?=$invoice['CcTransaction']['amount'];?></td>
			<td><?=$invoice['CcTransaction']['approved'];?></td>
			<td><?=$invoice['CcTransaction']['trans_type'];?></td>
			<td><?=$invoice['CcTransaction']['trans_purpose'];?></td>
			<td class="action">
				<ul>
					<li><?php echo $html->link("",array('controller'=>'CcTransactions', 'action'=>'view', $invoice['CcTransaction']['id']),array('escape'=>false, 'class'=>'edit','title'=>'view')); ?></li>
							
					<li><a class="delete" href="#" title="delete"></a></li>
					<li><a class="mark" href="#" title="mark"></a></li>
				</ul>
			</td>
		</tr>
		<?php endforeach; ?>

	</table>
	
	
	<span class="clear"></span>
	
	<?=$form->create('Member');?>
	<?php echo $form->hidden('Member.id'); ?> 
	<?=$form->end();?>	
</div>
