<p  class="alert">
	<span class="txt"><span class="icon"></span><strong>HW Error:  </strong><?php echo $content_for_layout; ?></span>
	<a title="Close" class="close"><span class="bg"></span>Close</a>
</p>


 