<div class="risks index">
	<h2>LTV Reporting - <?php echo $report_date; ?></h2>
	
	<?php $paginator->options(array('url' => $this->passedArgs));?>
	
	<div class="box">
		<p>&nbsp;</p>
		<table cellpadding="0" cellspacing="0">
			
			<tr>
				<td><?php echo $paginator->sort('frequency');?></td>
				<td><?php echo $paginator->sort('LTV Type','subkey');?></td>
				<td><?php echo $paginator->sort('value');?></td>
			</tr>
			
			<?php foreach ($reports as $report): ?>
			
			<tr  class="highlight">
				<td><?php echo $report['NgdReport']['frequency']; ?></td>
				<td><?php echo $report['NgdReport']['subkey']; ?></td>
				<td><?php echo $report['NgdReport']['value']; ?></td>
			</tr>
			
			<?php endforeach; ?>
			
			<tr class="highlight">	
				<td colspan="8"><?php  echo $paginator->counter(array('format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)));?></td>
			</tr>
			
		</table>

		<p id="pagin">
			<?php echo $paginator->first();?>
		 	<?php echo $paginator->prev('< previous', "", "", "");?>
		 	<?php //echo $paginator->prev() ?> 
			<?php echo $paginator->numbers();?>  
		 	<?php //echo $paginator->next() ?>
			<?php //echo $paginator->counter(); ?>
			<?php echo $paginator->next('next >', "", "", "");?>
			<?php echo $paginator->last();?>
		<p/>

		<span class="clear"></span>
	</div>
</div>

