<h2>Create Invites</h2>

<?php //echo $this->element('members_menu');?>

<?=$form->create('FreeAccountAuth', array('action' => 'bulk_create'));?>
<fieldset>
		<?=$form->input('records',array('type'=>'text','class'=>'medium','label'=>'Number of Invites', 'empty' => true));?><br class="hid" />
	<?=$form->input('plan_id',array('type'=>'text','class'=>'medium','label'=>'Invite Plan Id'));?><br class="hid" />
	<?=$form->input('free_months',array('type'=>'text','class'=>'medium','label'=>'Number of Free Months'));?><br class="hid" />
	<p></p>
	<?=$form->end(array('label'=>'Create','class'=>'button submit'));?>
	<span class="clear"></span>
</fieldset>