<h2>Create Tiny Url</h2>

<?php //echo $this->element('members_menu');?>

<?=$form->create(null, array('url' => 'http://tinyurl.com/create.php', 'target' => "_blank"));?>
<fieldset>
		<label>URL to Shrink!</label>
		<input type="text" name="url" class="large" value="<?php echo $url; ?>">
		<br class="hid" />
	<p></p>
	<?=$form->end(array('label'=>'Create','class'=>'button submit'));?>
	<span class="clear"></span>
</fieldset>

<!--
	

<table align="center" cellpadding="5" bgcolor="#E7E7F7"><tr><td>
<b>Enter a long URL to make <a href="http://tinyurl.com">tiny</a>:</b><br />
<input type="text" name="url" size="30"><input type="submit" name="submit" value="Make TinyURL!">
</td></tr></table>
</form>

-->