<div class="ccTransactions index">
	<h2>Invite Details</h2>

	<div class="box">
		<p>&nbsp;</p>
		<table cellpadding="0" cellspacing="0">
			<tr class="highlight">
				<td colspan="2">http://www.newsgroupdirect.com/invite/<br/>?utm_source=ngd-invite-email&utm_medium=email&utm_campaign=outbound-customer-mail<br/>&invite=<?php echo $accAuth['FreeAccountAuth']['auth_code']; ?></td>		
			</tr>
			
			<tr class="highlight">
				<td>Email:</td>	
				<td><?php echo $accAuth['FreeAccountAuth']['email']; ?></td>			
			</tr>
			
			
		
		
		</table>
		
		<p id="pagin">
			&nbsp;
		</p>
		
		<span class="clear">&nbsp;</span>
		
		

		
	</div>
</div>
	<form action="http://tinyurl.com/create.php" method="post" target="_blank">
<table align="center" cellpadding="5" bgcolor="#E7E7F7"><tr><td>
<b>Enter a long URL to make <a href="http://tinyurl.com">tiny</a>:</b><br />
<input type="text" name="url" size="30"><input type="submit" name="submit" value="Make TinyURL!">
</td></tr></table>
</form>